<html>
  <head> 

    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>ICRM System | Sign In</title>
  </head>

  <body>
    <div class="container">
        <div class="signin-box">
            <div class="title">SIGN IN ACCOUNT</div>
            <div class="row">
                <div class="col">
                    <div class="textboxtop">

                    </div>
                </div>
                <div class="col">
                    <div class="textboxtop">
                        
                    </div>
                </div>
            </div>
            <div class="textbox">
                <input type="text" placeholder="Email">
            </div>
            <div class="textbox">
                <input type="password" placeholder="Password">
            </div>
            <div class="textbox">
                <input type="password" placeholder="Conform Password">
            </div>
            <div class="button">
                <input type="button" value="SIGN IN">
            </div>
        </div>
    </div>
  </body>
</html>
