<html>
  <head> 

    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Source+Sans+Pro&display=swap" rel="stylesheet">
     <title>ICRM System | Sign Up</title>
  </head>

  <body>
    <div class="container">
        <div class="signUp-box">
            <div class="title">SIGN UP ACCOUNT</div>
            <div class="row">
                <div class="col">
                    <div class="textBoxTop">
                        <input type="text" placeholder="LastName">
                    </div>
                </div>
                <div class="col">
                    <div class="textBoxTop">
                        <input type="text" placeholder="FirstName">
                    </div>
                </div>
            </div>
            <div class="textBox">
                <input type="text" placeholder="Email">
            </div>
            <div class="textBox">
                <input type="password" placeholder="Password">
            </div>
            <div class="textBox">
                <input type="password" placeholder="Conform Password">
            </div>
            <div class="button">
                <input type="button" value="SIGN IN">
            </div>
        </div>
    </div>
  </body>
</html>
